<div>
<p> hi friend <%= userid %> </p>
<p>your id : <%= userdata.id %></p>
<p>your name : <%= userdata.name %></p>
<p>your email : <%= userdata.email %></p>
<p>your key : <%= userdata.password %></p>
</div>